<div class="chat-container">
  <div class="sidebar">
    <h3>Groups</h3>
    <select [(ngModel)]="selectedGroup" (ngModelChange)="onGroupSelect()">
      <option *ngFor="let group of groups" [ngValue]="group">
        {{ group.name }}
      </option>
    </select>

    <h3 *ngIf="selectedGroup">Channels</h3>
    <ul *ngIf="selectedGroup">
      <li
        *ngFor="let channel of channels"
        (click)="onChannelSelect(channel)"
        [class.selected]="channel === selectedChannel"
      >
        {{ channel.name }}
      </li>
    </ul>
  </div>

  <div class="chat-area">
    <div class="messages" #messagesContainer>
      <div *ngFor="let message of messages" class="message">
        <div *ngIf="editingMessage && editingMessage._id === message._id">
          <!-- Edit mode for the message -->
          <input
            [(ngModel)]="editingMessage.content"
            placeholder="Edit your message..."
          />
          <button (click)="saveMessage()">Save</button>
          <button (click)="cancelMessageEdit()">Cancel</button>
        </div>
        <div
          *ngIf="!editingMessage || editingMessage._id !== message._id"
          class="message-row"
        >
          <!-- Normal display mode -->
          <div
            class="message-bubble"
            [ngClass]="{
              'own-message': message.sender._id === currentUser.id
            }"
          >
            <img
              [src]="apiRoot + message.sender.avatar"
              alt="Avatar"
              class="avatar"
            />
            <div class="message-content">
              <span class="sender">{{ message.sender.username }}:</span>
              <span>{{ message.content }}</span>
            </div>
          </div>
          <button
            *ngIf="
              authService.hasRole('superAdmin') ||
              authService.hasRole('groupAdmin')
            "
            class="edit-button"
            (click)="editMessage(message)"
          >
            Edit
          </button>
          <div
            class="spacer"
            *ngIf="
              !authService.hasRole('superAdmin') &&
              !authService.hasRole('groupAdmin')
            "
          ></div>
        </div>
      </div>
    </div>

    <div class="input-area">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Type your message..."
        (keyup.enter)="sendMessage()"
        [disabled]="!selectedChannel"
      />
      <button (click)="sendMessage()" [disabled]="!selectedChannel">
        Send
      </button>
    </div>
  </div>
</div>
