.navbar {
    background-color: #222222;
    color: #fff;
    height: 60px;
    display: flex;
    /* Enable flexbox for the navbar itself */

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    a {
        cursor: pointer;
    }
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}